USE [master]
GO
/****** Object:  Database [Dem]    Script Date: 07.02.2022 13:07:27 ******/
CREATE DATABASE [Dem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Dem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Dem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dem]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 07.02.2022 13:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[ID_Driver] [int] IDENTITY(1,1) NOT NULL,
	[Middlename] [nchar](20) NULL,
	[Name] [nchar](20) NULL,
	[Patronymic] [nchar](10) NULL,
	[PassportSerial] [int] NULL,
	[PassportNumber] [int] NULL,
	[Address] [nchar](30) NULL,
	[AddressLife] [nchar](10) NULL,
	[Company] [nvarchar](50) NULL,
	[Jobname] [nchar](40) NULL,
	[Phone] [nchar](19) NULL,
	[Email] [nchar](30) NULL,
	[Photo] [nchar](30) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[ID_Driver] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LP]    Script Date: 07.02.2022 13:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LP](
	[Login] [int] NOT NULL,
	[Password] [nchar](10) NULL,
	[ID_Dr] [int] NULL,
 CONSTRAINT [PK_LP] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([ID_Driver], [Middlename], [Name], [Patronymic], [PassportSerial], [PassportNumber], [Address], [AddressLife], [Company], [Jobname], [Phone], [Email], [Photo]) VALUES (1, N'Caleb               ', N'Alonso Hopkins      ', N'          ', 2303, 160716, N'452 Cobblestone St            ', N'          ', N'Global Gillette', N'Reporter                                ', N'970 383 8933       ', N'skippy@icloud.com             ', N'001-happy-18.png              ')
INSERT [dbo].[Drivers] ([ID_Driver], [Middlename], [Name], [Patronymic], [PassportSerial], [PassportNumber], [Address], [AddressLife], [Company], [Jobname], [Phone], [Email], [Photo]) VALUES (2, N'Susannah            ', N'Kaydence Sellers    ', N'          ', 5563, 160745, N'Hyattsville, MD 20782         ', N'          ', N'Coca-Cola', N'Elementary School Teacher               ', N'867 708 4447       ', N'isotopian@sbcglobal.net       ', N'002-cool-5.png                ')
INSERT [dbo].[Drivers] ([ID_Driver], [Middlename], [Name], [Patronymic], [PassportSerial], [PassportNumber], [Address], [AddressLife], [Company], [Jobname], [Phone], [Email], [Photo]) VALUES (3, N'Brighton            ', N'Finnegan Bray       ', N'          ', 3719, 717453, N'9648 Philmont Lane            ', N'          ', N'Harley-Davidson Motor Company', N'Childcare worker                        ', N'221 428 7850       ', N'isaacson@att.net              ', N'003-happy-17.png              ')
GO
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
INSERT [dbo].[LP] ([Login], [Password], [ID_Dr]) VALUES (1, N'123       ', 1)
INSERT [dbo].[LP] ([Login], [Password], [ID_Dr]) VALUES (2, N'123       ', 2)
INSERT [dbo].[LP] ([Login], [Password], [ID_Dr]) VALUES (3, N'123       ', 3)
GO
ALTER TABLE [dbo].[LP]  WITH CHECK ADD  CONSTRAINT [FK_LP_Drivers] FOREIGN KEY([ID_Dr])
REFERENCES [dbo].[Drivers] ([ID_Driver])
GO
ALTER TABLE [dbo].[LP] CHECK CONSTRAINT [FK_LP_Drivers]
GO
USE [master]
GO
